.main-container{
max-width: 400px;
min-height: 450px;
margin: 0 auto;
background-color: #efefef;
box-shadow: 0 0 10px gray;
margin-top: 25px;
padding: 15px 15px;
}

.header{
    text-align: center;
}
.balance{
    line-height: 0px ;
    text-align: center
}
.in-ex-container{
    text-align: center;
    display: flex;
        margin: 0px 10px;
  justify-content:space-around;
     background-color: white;
box-shadow: 0 0 10px gray;
}

.in-ex-container > div:first-of-type {
    border-right: 1px solid #dedede;
  }
.transaction-form{
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

.transaction-list{
    margin: 0;
    padding: 0;
}

.transaction-list > li{
display: flex;
justify-content: space-between;
background-color: white;
box-shadow: 0 0 10px gray;
padding: 10px 5px;
margin: 5px 0;
}
.btn {
    cursor: pointer;
    background-color: lightsteelblue;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    font-weight: bold;
  }
  .btn:hover  {
    background-color: steelblue;
  }
  .inflow {
    color: seagreen;
    font-weight: bold;
  }
  .outflow {
    color: tomato;
    font-weight: bold;
  }
  .list li.plus {
    border-right: 5px solid seagreen;
    color: seagreen
  }
  
  .list li.plus:hover {
    /* border-right: 5px solid #b6960a; */
    background-color: seagreen;
    color: #f7f7f7
  }
  
  .list li.minus {
    border-right: 5px solid tomato;
    color: tomato;
  }
  
  .list li.minus:hover {
    /* border-right: 5px solid red; */
    background-color: tomato;
    color: #f7f7f7
  }
  
    